<div class="card card-hover shadow-sm text-center">
  <div class="w-50 d-block mx-auto">
    <img class="mx-auto card-img-top img-fluid aspect-ratio-1x1" [src]="imagem" alt="imagem do pokemon">
  </div>
  <div class="card-body">
    <h2 class="card-title">{{ nome }}</h2>
    <p class="card-text"><strong>Tipo:</strong> {{ tipo }}</p>
    <p class="card-text"><strong>Peso:</strong> {{ peso }} kg</p>
    <button (click)="verDetalhes(id)" class="btn btn-primary">Ver detalhes</button>
  </div>
</div>
