.footer {
  background-color: #cc0000;
  color: #fff;
  padding: 20px;
  font-size: 14px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer a {
  color: #fff;
}


