<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contato</h3>
        <ul>
          <li>Email: contato@pokedex.com</li>
          <li>Telefone: (11) 1234-5678</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Redes Sociais</h3>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Sobre</h3>
        <p>A Pokédex é uma enciclopédia virtual sobre os Pokémon. Todos os dados contidos neste site são fictícios e foram criados com o intuito de diversão.</p>
      </div>
    </div>
  </div>
