.card {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.card h2 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
}

.card p {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.card .number {
  font-weight: bold;
}

.card .type {
  display: flex;
  justify-content: center;
}

.card .type span {
  background-color: #ec5353;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.card .abilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .abilities h3 {
  font-size: 20px;
  margin: 20px 0 10px;
}

.card .abilities ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card .abilities li {
  font-size: 16px;
  margin: 5px 0;
}
