.type-normal {
  background-color: #A8A77A;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-fighting {
  background-color: #C22E28;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-flying {
  background-color: #A98FF3;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-poison {
  background-color: #A33EA1;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-ground {
  background-color: #E2BF65;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-rock {
  background-color: #B6A136;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-bug {
  background-color: #A6B91A;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-ghost {
  background-color: #735797;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-steel {
  background-color: #B7B7CE;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-fire {
  background-color: #EE8130;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-water {
  background-color: #6390F0;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-grass {
  background-color: #7AC74C;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-electric {
  background-color: #F7D02C;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-psychic {
  background-color: #F95587;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-ice {
  background-color: #96D9D6;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-dragon {
  background-color: #6F35FC;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-dark {
  background-color: #705746;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-fairy {
  background-color: #D685AD;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-unknown {
  background-color: #68A090;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}

.type-shadow {
  background-color: #493963;
  color: #fff;
  padding: 0 8px;
  border-radius: 4px;
}


.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-footer .row {
  flex: 1;
}
