<div class="d-flex justify-content-center align-items-center sticky-footer">
  <div class="card border-0 h-40">
    <div class="row no-gutters">
      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <img
          src="{{ pokemon?.sprites?.versions?.['generation-v']?.['black-white']?.animated?.front_default }}"
          alt="Imagem do Pokémon: {{pokemon?.name}}" class="w-100">
      </div>
      <div class="col-md-9 text-center">
        <div class="card-body justify-content-center">
          <h2>{{ pokemon?.name }}</h2>
          <p>Número: <span class="number">{{pokemon?.id}}</span></p>
          <p>
            Tipo:
            <span class="type" *ngFor="let type of pokemon?.types" [ngClass]="['type-' + type.type.name]">
              {{type.type.name}}&nbsp;
            </span>
          </p>
          <p>Peso: {{ pokemon?.weight }} kg</p>
          <div class="abilities">
            <h3>Habilidades</h3>
            <ul>
              <li *ngFor="let ability of pokemon?.abilities">
                {{ ability.ability.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
